.container
	.row

		.col_two_third.testimonial
			%h3 Health History Form
	.row
		.col_one_third.testimonial
			%h4 Personal Informaton
			- hh_form_fields(@hhform, "personal_info").each do |title, data|
				%strong= title.humanize + ":"
				= data
				%br

		.col_one_third.testimonial
			- hh_form_fields(@hhform, "personal_info").each do |title, data|
				%strong= title.humanize + ":"
				= data
				%br
